body{
    background-color: rgb(110, 16, 16);
}
h1{
    color: dimgrey; 
    font-family: sans-serif;
}
p{
    font-style: italic; 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-variant: normal;
}
